.imgs-color{
	background: white;
}
html{
	font-size: 10px;
}
.plic-top{
	margin-top: 10px;
}

.publc-fff-bg{
	background-color: white !important;
	
}
.nine-box li{
	width: 20%;
}

.font-font{
	font-size: 12px;
	color: red;
}
.huowu-top{
	margin-top: 10px;
}
.font-size{
	color: black;
	margin-left: 20px;
}
.font-color{
	color: red;
	margin-left: 20px;
}
.font-color span{
	color: #CCCCCC;
	margin-left: 5px;
}

.margins-top{
	margin-top: 10px;
}
.ps-deep{
	width:172px;
	height: 172px;
	/*padding-bottom: 10px;*/
	margin-bottom: 10px;
}
.dada-dada{
	width: 130px;
	height: 130px;
}

.font-fonts{
	color: red;
}
.blank{
	width: 210px;
	height: 21px;
	margin-left: 15px;
	margin-top: 6px;
	font-size: 16px;
	color: black;
	overflow: hidden;
}
.btn-btns{
	margin-left: 15px;
	margin-top: 48px;
}
.btn{
	color: red;
	font-weight: bold;
	font-size: 16px;
}
.btns{
	color: #CCCCCC;
	margin-left: 5px;
	
}


.wyx{
	width: 414px;
	height: 40px;
	/*background: red;*/
}
.money{
	color: red;
	font-size: 28px;
	line-height: 40px;
}
del{
	font-size: 15px;
	margin-left: 5px;
}
.money2{
	font-size: 15px;
	margin-left: 110px;
}
.RWpliLUr{
	width: 62px;
	height: 17px;
	float: left;
}
.left-left{
	color: black;
	font-size: 16px;
	/*position: fixed;*/
}
.top-top{
	margin-top: 10px;
}
.p-p{
	width: 400px;
	
}
.top-top span{
	margin-left: 145px;
	
}

.access-access{
	width: 375px;
	height: 130px;
}
.left-left-left{
	width: 400px;
	height: 47px;
}
.left{
	width: 150px;
	height: 33px;
	background: #FDEFEE;
	font-size: 15px;
	line-height: 33px;
	float: left;
	text-align: center;
}
.right{
	width: 120px;
	height: 33px;
	background: #FDEFEE;
	font-size: 15px;
	line-height: 33px;
	float: left;
	margin-left: 10px;
	text-align: center;
}


.center-center{
	width: 400px;
	height: 28px;
}
.center-center img{
	width: 27px;
	height: 27px;
	border-radius: 50%;
	float: left;
}
.center-center span{
	width: 276%;
	height: 27px;
	font-size: 14.4px;
	margin-left: 10px;
}
.bottom-bottom{
	width: 400px;
	height: 47px;
	margin-top: 5px;
	
}
.center{
	font-size: 15px;
	color: black;
}


.dibu{
	width: 100%;
	height: 66px;
	background: white;
}
.dibu-left{
	width: 30%;
	height: 66px;
	float: left;
}
.dibu-left img{
	margin-top: 10px;
	margin-left: 8px;
	width: 20%;
}
.dibu-left span{
	width: 23%;
	font-size: 12px;
	margin-left: 6%;
}
.dibu-right-left{
	width: 35%;
	height: 66px;
	background: #F3ABA7;
	float: left;
}
.dibu-right-left p{
	color: white;
	font-size: 18px;
	text-align: center;
	margin-top: 5px;
}

.dibu-right-right{
	width: 35%;
	height: 66px;
	background: red;
	float: left;
}
.dibu-right-right p{
	color: white;
	font-size: 18px;
	text-align: center;
	margin-top: 5px;
	
}



.font-size-color1 span{
	color: black;
	font-size: 20px;
	color: red;
}
.font-size-color2 span{
	color: black;
	font-size: 20px;
}
.font-size-size{
	font-size: 20px;
}

.top{
	width: 100%;
	height: 44px;
	background: red;
	position: fixed;
}
._2ACnXDng{
	width: 33%;
	height: 18px;
	margin-left: 10px;
	margin-top: 12px;
}
._1O8PGlnJ{
	width: 72%;
	height: 24px;
	background: white;
	padding: 5px 10px;
	border-radius: 50px;
	margin-left: 33%;
	color: red;
}
.centers{
	width: 240%;
	height: 210px;
	background: red;
	position: absolute;
	top: 90px;
}
.center1{
	width: 138px;
	height: 199px;
	background: #EDB008;
	margin-left: 10px;
	position: relative;
	float: left;
}
._2g7mAuzr{
	width: 130px;
	height: 130px;
	margin: 3%;
}
._2s7PtzBy{
	width: 122px;
	height: 25px;
	color: white;
	margin-left: 8px;
	overflow: hidden;
	line-height: 25px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}
._3GEPm2BP{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	float: left;
	margin-left: 5px;
	margin-top: -4px;
}
._3GEPm2BP1{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	float: left;
	margin-left: -2px;
	margin-top: -4px;
}
.s22DpAo2{
	color: white;
	font-size: 12px;
	margin-left: 10px;
	float: left;
	margin-top: -5px;
}
.s22DpAo3{
	background: #EDB008;
	color: white;
	position: absolute;
	top: 0px;
	left: 0px;
}


._3yaWAeB6{
	width: 105px;
	height: 26px;
	background: #EDB008;
	position: absolute;
	left: 0px;
	top: 116px;
	/*background: green;*/
}

._2heRfjMi{
	width: 50px;
	height: 24px;
	color: white;
	padding: 1px 1px;
	font-size: 20px;
	line-height: 24px;
}
._2B7fdOYZ{
	width: 40px;
	height: 14px;
	color: #EDB008;
	background: white;
	border-radius:20px;
	font-size: 10px;
	padding: 2px 2px;
	position: relative;
	top: -2px;
	left: 2px;
	
}


.margins-top-top{
	width: 100%;
	margin-top: 270px;
	position: fixed;
}

.btning{
	font-size: 20px;
	color: red;
}
.btns-btns{
	width: 72px;
	height: 30px;
	background: red;
	color: white;
	font-size: 15px;
	padding: 5px;
	margin-left: 48px;
}
.kuan{
	width: 129px;
	height: 12px;
	background: #F2ABA9;
	margin-left: 15px;
	margin-top: 20px;
	border-radius: 50px;
	/*float: left;*/
}
.kuan1{
	width: 30px;
	height: 12px;
	background: red;
	/*float: left;*/
	border-radius: 50px;
}
.yiyi{
	color: #CCCCCC;
	font-size: 15px;
}
.kuans{
	width: 129px;
	height: 12px;
	background: #F2ABA9;
	margin-left: 15px;
	margin-top: 20px;
	border-radius: 50px;
}
.kuan2{
	width: 50px;
	/*width: 60px;*/
	height: 12px;
	background: red;
	/*float: left;*/
	border-radius: 50px;
}

