*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 10px;
}
body{
	background: #f4f4f4;
}
li{
	list-style: none;
}
#login{
	position: absolute;
	top: 28%;
	width:100%;
	
	
}
#login p{
	color: black;
	font-size:19px;
	display: flex;
	justify-content: center;
	margin-bottom: 41px;
}
#login button{
	width: 80%;
	background-color: #F6A622;
	border: none;
	outline: navajowhite;
	margin: 0 auto;
	border-radius: 5px;
	height: 48px;
	display: flex;
	justify-content: center;
	color: white;
}
#login button *{
	float: left;
	margin-left: 10px;
}
#login>img{
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.bottom-menu{
	box-sizing: border-box;
	width: 100%;
	height: 5rem;
	position: fixed;
	bottom: 0;
	background: white;
	padding-bottom: 0.5rem;

}
.bottom-menu ul{
	display: flex;
	width: 100%;
	margin: 0 auto;
	justify-content: space-between;
}
.bottom-menu li img{
	width: 30%;
	
}
.bottom-menu li{
	height: 5rem;
	text-align: center;
	margin-top: 0.7rem;
	

}
.bottom-menu p{
	font-size: 1.2rem;
	line-height: 1.6rem;
}
.block{
	display: none;
}
