.chatting-top{
    width:100%;
    background:#fff;
    height:3.5rem;
    text-align:center;
    line-height:3.5rem;
    border-bottom:1px solid #d4d4d4;
}
.chatting-top p{
    font-size:17px;
    color:#323232;
}
.span-img{
    width:2.7rem;
    height:1.6rem;
    position:absolute;
    top:0.2rem;
    left:11rem;
}
.chat-span{
    font-size:14px;
    color:#999999;
    position:absolute;
    top:1rem;
    right:1rem;
}
#chattiing-recommend{
    width:100%;
    background:#fff;
    height:4rem;
    margin-top:1rem
}